In [1]:
import pandas

In [5]:
# Ask the user for the invesment amount
investment = input("Enter your investment amount: ")
# Ask the user for their investment time horizon (in years)
years = input("Enter the number of years you'd like to invest for: ")
# Ask the user for a list of at least 5 stock symbols and store the values in a list variable.
stocks = input("Enter a list of at least 5 stock symbols (separate your list with commas): ")
# Ask the user for the preference: High Return (3), Low Risk (1), or Balanced (2)
preference = input("Enter your preference: High Return (3), Low Risk (1), or Balanced (2): ")
# Display the investment amount and the investment time horizon and the stocks selected by the user.
print(f"Your investment amount is {investment} and you'd like to invest for {years} years in the following stocks: {stocks} and your preference is {preference}.")

Your investment amount is 56999 and you'd like to invest for 45454454 years in the following stocks: 213,231321,321321,321321,3213,21321,321,321 and your preference is 2.

In [40]:
# Initial imports
import requests
import pandas as pd
from dotenv import load_dotenv, find_dotenv
import os 
import alpaca_trade_api as tradeapi
import numpy as np
from datetime import date

In [41]:
#Load Environment Variables for Alpaca API
alpaca_api_key ="PKURMS5ELMEHV4ZGBXTQ"
alpaca_secret_key = "NhYNWSU4szskB7qUMl2FXPqYoQZXwL50ahf54jds"

In [60]:
stocks = ['AAPL', 'GOOGL'] #, 'AMZN', 'MSFT', 'TSLA']
#Create Alpaca Trade API Object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)
#Format current date as ISO format
start_date = date(2023, 2, 20)
end_date = date(2024, 2, 20)

#set tickers based on stocks list
tickers = stocks
#set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
#Get current closing prices for stocks
df_portfolio = api.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df
#Preview DataFrame
df_portfolio.head()

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2023-02-21 05:00:00+00:00,148.48,151.30,148.4050,509345,150.20,68102432,149.257079,AAPL
2023-02-22 05:00:00+00:00,148.91,149.95,147.1600,429778,148.87,57571342,148.589063,AAPL
2023-02-23 05:00:00+00:00,149.40,150.34,147.2400,425163,150.09,53439807,148.898586,AAPL
2023-02-24 05:00:00+00:00,146.71,147.19,145.7202,470884,147.11,62617932,146.425361,AAPL
2023-02-27 05:00:00+00:00,147.92,149.17,147.4500,418071,147.71,50247854,148.109991,AAPL

In [61]:
df_portfolio = df_portfolio.drop(columns=['open', 'high', 'low', 'volume','trade_count','vwap'])
df_portfolio.head()

                            close symbol
timestamp
2023-02-21 05:00:00+00:00  148.48   AAPL
2023-02-22 05:00:00+00:00  148.91   AAPL
2023-02-23 05:00:00+00:00  149.40   AAPL
2023-02-24 05:00:00+00:00  146.71   AAPL
2023-02-27 05:00:00+00:00  147.92   AAPL

In [71]:
df_portfolio['returns'] = df_portfolio['close'].pct_change()
df_portfolio['returns'] = df_portfolio['returns'].astype(float)
df_portfolio.groupby('symbol').agg({'returns': ['mean', 'std']})

         returns
            mean       std
symbol
AAPL    0.000878  0.012103
GOOGL  -0.000106  0.035757

In [ ]:
total_porf_return = df_portfolio['returns'].sum()